<%- include("../includes/header.ejs", {title: "Add New Player"}); %>
<%- include("../includes/style.ejs"); %>
<div class="container">

    <h1>Add New Player</h1>
    <form action="/player/insert" method="get" class="col-xs-4">
        <div class="form-group">
            <label for="username">Username:</label> <input class="form-control" id="username" name="username" type="text" />
        </div>
        <div class="form-check">
            <label>Player Status:</label>
            <br/>
            <label for="player_status" class="form-check-label">
                <label class="checkbox-inline"><input class="form-check-input" type="radio" id="player_status" name="player_status" value="1" checked>Online</label>
                <label class="checkbox-inline"><input class="form-check-input" type="radio" id="player_status" name="player_status" value="0">Offline</label>
            </label>
        </div>
        <br/>
        <input class="btn btn-success" type="submit" />

    </form>

</div>
<%- include("../includes/footer.ejs"); %>